{% load static from staticfiles %}
{% csrf_token %}
<link href="{% static 'style.css' %}" rel="stylesheet">
<center><img src="{% static 'bike.jpg' %}">
    <br>
    <div class="mapContainer">
   <!-- <img src="{% static 'sizedtarget.png'%}" style="position: relative; top:-300; left:430;z-index:4;"> -->
        <a href="{{ googleUrl }}"><img src="{% static imagePath %}", class="map"></a>
    <br>
    <!--     <a href="{{ googleUrl }}", class="googlemaps">VIEW</a> -->
    <div>Line Distance: {{ realDistance }} km.</div>
    </div>
</center>
